<!DOCTYPE html>
<html ng-app="plunker">

  <head>
    <meta charset="utf-8" />
    <title>AngularJS Plunker</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="joint.css">
    <link rel="stylesheet" type="text/css" href="joint.all.min.css">

    <script data-require="angular.js@1.3.x" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js" data-semver="1.3.4"></script>
   

    <script type="text/javascript" src="joint.all.min.js"></script>
    <script type="text/javascript" src="joint.shapes.uml.js"></script>
    <script type="text/javascript" src="joint.layout.DirectedGraph.js"></script>
    <script src="app.js"></script>
    <script type="text/javascript" src="bootstrap.min.js"></script>
    <!--<script type="text/javascript" src="underscore-min.js"></script>-->
  </head>

  <body ng-controller="MainCtrl">
    <div class="row">
      <div class="col-md-push-3 col-md-9">
        <button class="btn" ng-click="clear()">clear</button>
        <button class="btn" id="btn-center">center</button>
        <button class="btn" id="btn-center-content">center content</button>
        <button class="btn" id="btn-zoomout">zoom out</button>
        <button class="btn" id="btn-zoomin">zoom in</button>
        <button class="btn" id="btn-zoomtofit">zoom to fit</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="dropdown" style="height: 800px; overflow:scroll">
          <input type="text" ng-model="search"/>
          <ul>
            <li ng-repeat="clazz in domainModel.classes | filter: search">
              <a href="#" ng-click="addClass(clazz)">{{clazz.className | minify}}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-9" id="canvas" class="paper" >
      </div>
    </div>
    <script type="text/javascript" src="japp.js"></script>
  </body>
</html>